@{
    ViewData["Title"] = "About";
}


<div class="about"></div>
<h2 class="about__title">@ViewData["Title"]</h2>
<h3 class="about__title--message">@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
