@model IEnumerable<ShopWebApp.Models.DTO.SearchProductDTO>
@using ShopWebApp.Constants

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li>
            <a class="search-result__item" asp-controller="Product" asp-action="GetDetail" asp-route-productId="@item.Id">
                <img class="search-result__image" src="@Constant.URL_IMAGE/@item.Image">
                <h3 class="search-result__name">@item.Name</h3>
                <h4 class="search-result__price-block"><b>Price</b>: <span class="search-result__price">@item.UnitPrice.ToString("#,##0")$</span></h4>
            </a>
        </li>
    }
}
else
{
    <p class="search-result__empty">No product found</p>
}

