/* Style for scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-base-white-smoke2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-text-gray2);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-base-davy-gray);
    }

/* End style for scroll bar */

/* Header of dialog */
.top-level-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-line-gray);
}
/* End header of dialog */

/* Container cart items */
.cart-container {
    height: 100vh;
    background: url("./images/bg-cart-template.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper-content {
    padding: 20px 18px;
    background: var(--color-base-light-gray5);
    border-radius: 24px;
}

.photo img {
    width: 65px;
    height: 65px;
}

li.item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-line-light-gray3);
}

.left {
    display: flex;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.item-name {
    padding-bottom: 8px;
    font-weight: var(--font-weight-bold);
}

.item-describe {
    color: var(--color-line-gray);
    font-size: 14px;
}

.price {
    font-weight: var(--font-weight-bold);
}

ul {
    padding-left: 0;
}

.item-list {
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
    padding-right: 12px;
}

.right {
    display: flex;
    align-items: center;
}

input[type="number"] {
    max-width: 35px;
    margin: 0 12px;
    border: 1px solid var(--color-line-light-gray);
    outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.quantity-order {
    padding-right: 40px;
}

.title-order {
    font-weight: var(--font-weight-bold);
}

.action-order {
    font-size: 12px;
}

.form-group button {
    background: none;
    border: none;
    outline: none;
    font-size: 19px;
    cursor: pointer;
}

.form-group {
    display: flex;
    align-items: center;
}

    .form-group button:last-child {
        color: var(--color-line-cyan);
    }

/* End container cart items */

/* Payment Information */
.pay-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}
    .pay-item .title {
        font-size: 16px;
        color: var(--color-text-very-light-red);
    }

.total .title {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-very-light-charcoal);
}

.total .amount {
    font-size: 19px;
    font-weight: var(--font-weight-bold);
}

.pay-information {
    margin: 10px 0 0 5px;
}

/* End Payment */

#group-button-payment{
    display: flex;
    justify-content: center;
}

#paypal-button-container {
    text-align: center;
    margin: 0 10px;
    flex: 0 0 30%
}

#cod-button-container {
    margin: 0 10px;
    font-family: var(--font-family-button-payment);
    font-weight: var(--font-weight-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    flex: 0 0 30%;
    height: 45px;
    background: var(--color-base-orange-primary);
    cursor: pointer;
}