.supplier-items {
    list-style: none;
    font-size: 16px;
    padding: 10px 5px;
}

    .supplier-items > li {
        margin-bottom:5px;
    }

.supplier-item {
    padding: 5px 20px 5px;
    font-weight: var(--font-weight-medium);
    display: block;
    color: var(--color-text-black) !important;
}

    .supplier-item:hover {
        border-radius: 5px 30px 30px 5px;
        background: var(--color-base-iris-blue);
        text-decoration: none;
        color: var(--color-text-white) !important;
    }

.supplier-item--selected {
    padding-left: 10px;
    font-weight: var(--font-weight-medium);
    border-radius: 5px 30px 30px 5px;
    background: var(--color-base-orange);
    color: var(--color-text-black) !important;
    pointer-events: none;
}

    .supplier-item--selected:hover {
        text-decoration: none;
        background: var(--color-base-orange);
        color: var(--color-text-black);
    }
