.category-item:hover {
    background-color: #01b5d0 !important;
    color: white !important;
}

.category-item--selected {
    background: var(--color-base-orange);
    color: black;
}

    .category-item--selected:hover {
        background: var(--color-base-orange) !important;
        color: var(--color-base-black) !important;
    }
