.sign-up {
    padding: 20px 60px 30px;
    position: fixed;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 600px !important;
    margin: 10% 34% !important;
    z-index: var(--z-index-dialog);
    background: var(--color-base-white);
}

.sign-up__close-button {
    cursor: pointer;
    padding: 6px;
    color: black;
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    top: 20px;
    right: 25px;
    position: absolute;
    font-style: normal;
}

.sign-up__notification--success {
    margin: 10px 0 20px;
    text-align: center;
}

.sign-up__notification--success-image {
    width: 50px;
}


.sign-up__phone {
    display: flex;
}

.sign-up__phone-number {
    text-align: left;
}

    .sign-up__phone-number > input {
        display: inline-block;
    }

.sign-up__phone-prefix {
    height: 34px;
    margin: 0;
    padding: 5px;
    background: var(--color-line-light-gray2);
    border: 1px solid var(--color-line-light-gray3);
    border-radius: 15%;
}

.sign-up__notification--success-title {
    font-size: 14px;
    color: var(--color-text-green);
}

.sign-up__validation{
    margin-top: 10px;
}

.sign-up__footer {
    text-align: center;
}

.sign-up__button-submit {
    background: var(--color-base-primary-blue) none repeat scroll 0 0;
    border-color: var(--color-line-primary-blue);
    color: var(--color-text-white);
    font-size: 22px;
    width: 70%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.sign-up__validation__button-ok {
    margin: 30px auto 0;
    display: none;
}
