.sign-in {
    padding: 20px 60px 30px;
    position: fixed;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 600px !important;
    margin: 10% 34% !important;
    z-index: var(--z-index-dialog);
    background: var(--color-base-white);
}

.sign-in__close-button {
    cursor: pointer;
    padding: 6px;
    color: black;
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    top: 20px;
    right: 25px;
    position: absolute;
    font-style: normal;
}

.sign-in__header{
    text-align: center;
}

.sign-in__title{
    margin-top: 0;
    font-size: 36px;
}

.sign-in__footer{
    text-align: center;
}

.sign-in__button-submit {
    background: var(--color-base-primary-blue) none repeat scroll 0 0;
    border-color: var(--color-line-primary-blue);
    color: var(--color-text-white);
    font-size: 22px;
    width: 70%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
/*.panel p {
    color: var(--color-line-gray);
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

.panel h1 {
    padding-bottom: 30px;
}

.login-content{
    width: 600px;
}
.login-form {
    text-align: center;
}

   .login-form .form-group {
        margin-bottom: 10px;
    }

    .login-form .form-control {
        background: var(--color-base-white-smoke) none repeat scroll 0 0;
        border: 1px solid var(--color-line-light-gray);
        border-radius: 4px;
        font-size: 14px;
        line-height: 50px;
    }

    .login-form .btn.btn-primary {
        background: var(--color-base-primary-blue) none repeat scroll 0 0;
        border-color: var(--color-line-primary-blue);
        color: var(--color-text-white);
        font-size: 14px;
        width: 70%;
        height: 50px;
        line-height: 50px;
        padding: 0;
    }

        .login-form .btn.btn-primary.reset {
            background: var(--color-base-orange2) none repeat scroll 0 0;
        }

.forgot {
    text-align: left;
    margin-bottom: 30px;
}

    .forgot a {
        color: var(--color-text-primary-blue);
        font-size: 14px;
        text-decoration: underline;
    }

.login-fail {
    display: block;
    margin-bottom: 10px;
}*/

.sign-in__forgot {
    color: var(--color-base-dodger-blue);
    cursor: pointer;
}

.sign-in__forgot:hover{
    text-decoration: underline;
}