body#LoginForm {
    background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.main-div {
    background: var(--color-base-white) none repeat scroll 0 0;
    border-radius: 24px;
    padding: 0px 30px 10px 35px;
}

.panel p {
    color: var(--color-line-gray);
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

.panel h1 {
    padding-bottom: 30px;
}

.login-form {
    text-align: center;
}

   .login-form .form-group {
        margin-bottom: 10px;
    }

    .login-form .form-control {
        background: var(--color-base-white-smoke) none repeat scroll 0 0;
        border: 1px solid var(--color-line-light-gray);
        border-radius: 4px;
        font-size: 14px;
        line-height: 50px;
    }

    .login-form .btn.btn-primary {
        background: var(--color-base-primary-blue) none repeat scroll 0 0;
        border-color: var(--color-line-primary-blue);
        color: var(--color-text-white);
        font-size: 14px;
        width: 70%;
        height: 50px;
        line-height: 50px;
        padding: 0;
    }

        .login-form .btn.btn-primary.reset {
            background: var(--color-base-orange2) none repeat scroll 0 0;
        }

.forgot {
    text-align: left;
    margin-bottom: 30px;
}

    .forgot a {
        color: var(--color-text-primary-blue);
        font-size: 14px;
        text-decoration: underline;
    }

.login-fail {
    display: block;
    margin-bottom: 10px;
}

