﻿body#RegisterForm {
    background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.register-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    line-height: 50px;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 24px;
    padding: 0px 30px 10px 35px;
}

.register-form .form-group {
    margin-bottom: 10px;
}

.register-form {
    text-align: center;
}

    .register-form .btn.btn-primary {
        background: #007bff none repeat scroll 0 0;
        border-color: #007bff;
        color: #ffffff;
        font-size: 14px;
        width: 70%;
        height: 50px;
        line-height: 50px;
        margin-top: 30px;
        padding: 0;
    }

.button-close {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin-top: 3%;
    padding-right: 3%;
    cursor: pointer;
    align-self: flex-end;
}

.input-phone-number {
    width: 150px;
}
.phone-number {
    text-align: left;
}

    .phone-number > input {
        display: inline-block;
    }

.phone-prefix-fixed {
    margin: 0;
    display: inline-block;
    padding: 5px;
    background: #d1d1d1;
    border: 1px solid #cccc;
    border-radius: 15%;
}

.success-notification{
    margin: 10px 0 20px;
}
.success-notification__image > img {
    width: 50px;
}

.success-notification__title{
    font-size: 14px;
    color: green;
}

.button-ok {
    margin: 30px auto 0;
}