/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/


body {
    background: var(--color-base-white);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, label, p {
    margin: 0;
}
/*----*/
.itemContainer {
    width: 100%;
    float: left;
}

    .itemContainer div {
        float: left;
        margin: 5px 20px 5px 20px;
    }

    .itemContainer a {
        text-decoration: none;
    }

.cartHeaders {
    width: 100%;
    float: left;
}

    .cartHeaders div {
        float: left;
        margin: 5px 20px 5px 20px;
    }

.item_add {
    color: var(--color-base-white);
    border: none;
}

a.item_add {
    text-decoration: none;
}

.grid_1 img {
    margin-bottom: 1em;
}

.box_1 h3 {
    color: #fff;
    font-size: 1.1em;
}

    .box_1 h3 img {
        margin-left: 5px;
    }

.box_1 p a {
    color: var(--color-base-white);
    font-size: 0.875em;
}

.total {
    display: inline-block;
}

.cart {
    display: inline-block;
    position: relative;
    color: var(--color-text-white);
    cursor: pointer;
}

    .cart > i {
        font-size: 23px;
    }

.cart-count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--color-base-orange-primary);
    color: var(--color-text-white);
    border: 1px solid var(--color-line-orange-primary);
    border-radius: 50%;
    cursor: pointer;
    right: -20px;
    top: -10px;
    font-style: normal;
}

.cart-container{
    margin-top: 30px;
}

.group-btn-account {
    text-align: end;
}

.opened {
    display: block;
}

.closed {
    display: none !important;
}

.user {
    margin-left: 5%;
    display: inline-block;
    position: relative;
    color: var(--color-text-white);
}

    .user > i {
        font-size: 23px;
    }

.user__text-fixed {
    margin: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    cursor: default;
}

.user__info {
    font-size: 23px;
    cursor: pointer;
    padding: 0 10px;
    display: inline-block;
}

    .user__info:hover {
        opacity: 0.4;
    }

.user-name {
    font-size: 14px;
    margin: 0;
    font-weight: var(--font-weight-medium);
    display: inline-block;
}

.user__menu {
    position: absolute;
    display: none;
    right: -105px;
    top: 55px;
    text-align: left;
    font-weight: var(--font-weight-medium);
    background: var(--color-base-black);
    z-index: var(--z-index-dialog);
}

.user__menu--opened {
    display: block;
}

.user__items {
    list-style: none;
    text-decoration: none;
}

.user__item {
    color: var(--color-text-white) !important;
    padding: 10px;
    text-decoration: none !important;
    display: block;
    cursor: default;
}

.dropdown-divider {
    border-top: 2px solid var(--color-base-whisper);
}

.user__item:hover {
    opacity: 0.5;
    text-decoration: none !important;
}

.account {
    padding: 0;
    display: contents;
}
/*----*/

.header {
    
    border-bottom: 1px solid var(--color-line-black);
}

.header-top {
    background: var(--color-base-black);
    padding: 15px 0;
}
.search {
    position: relative;
    float: left;
    width: 25%;
    background-color: var(--color-base-white);
    margin-top: 11px;
}

    .search input[type="text"] {
        outline: none;
        padding: 3px 15px;
        background: none;
        width: 91%;
        border: none;
        font-size: 1.2em;
        color: var(--color-text-black);
        font-weight: var(--font-weight-bold);
    }

    .search input[type="submit"] {
        border: none;
        cursor: pointer;
        position: absolute;
        outline: none;
        top: 0px;
        right: 0px;
        background: var(--color-base-light-gray4);
        font-size: 1.2em;
        color: var(--color-text-black);
        padding: 3px;
        font-weight: var(--font-weight-bold);
    }

        .search input[type="submit"]:hover {
            background: var(--color-base-orange-primary);
            color: var(--color-text-white);
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
        }

.nav-bar {
    padding: 1em 0;
}

.group-button-account {
    display: flex;
}

.buttons {
    text-align: end;
    display: inline-block;
    margin-top: 16px;
}

    .buttons > span {
        font-size: 17px;
        color: var(--color-text-white);
        font-weight: var(--font-weight-bold);
        margin-left: 50px;
        padding: 5px;
        cursor: pointer !important;
        outline: none;
    }

        .buttons > span:hover {
            opacity: 0.7;
            cursor: default;
        }


#btn-register {
    border: 1px solid var(--color-line-white);
}


.logo {
    float: left;
}

.head-top {
    padding: 1em 0;
}

/* start menu */
.main_menu {
    margin: 7px 50px 0px;
    float: left;
}

/*--content-top--*/
.content-top h1 {
    color: var(--color-text-white);
    font-size: 2.2em;
    font-family: 'Lato', sans-serif;
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.5em;
}

.content-top {
    text-align: center;
    padding: 4em 0;
}

.grid-top img {
    width: 100%;
}

.grid-top p {
    font-size: 1.1em;
    margin: 0.3em 0 0;
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
}

    .grid-top p a {
        color: #000;
        text-decoration: none;
    }

        .grid-top p a:hover {
            color: var(--color-text-orange-primary);
        }

.grid-in {
    padding: 2em 0 0;
}
/*--//content-top--*/
/*---content-middle--*/
.grid-mid {
    position: relative;
}

.twit {
    position: absolute;
    top: 48%;
    width: 100%;
    text-align: center;
}

    .twit h4 {
        color: var(--color-text-white);
        font-size: 2em;
        font-weight: var(--font-weight-medium);
        margin: 0 auto;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
    }

.grid-mid img {
    width: 100%;
}

.grid-middle {
    padding: 2em 0 0;
}
/*--content-bottom--*/
.content-bottom ul li {
    display: inline-block;
    border: 1px solid var(--color-text-whisper);
    float: left;
    border-left: none;
    width: 16.666%;
}

.content-bottom {
    padding: 3em 0;
}

/*--footer--*/
.footer {
    background: var(--color-base-nero);
}

.amet-sed h4 {
    font-size: 1.5em;
    color: var(--color-text-white);
    font-family: 'Lato', sans-serif;
    margin: 0 0 1em;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
}

.footer-top-at {
    padding: 4em 0;
}

ul.nav-bottom li {
    list-style: none;
}

    ul.nav-bottom li a {
        text-decoration: none;
        color: #989696;
        font-size: 1.1em;
        display: inline-block;
        margin: 0.2em 0;
    }

        ul.nav-bottom li a:hover {
            color: var(--color-text-orange-primary);
        }

.amet-sed p {
    color: #989696;
    font-size: 1.2em;
    margin: 0 0 0.3em;
}

.footer-class p {
    color: var(--color-text-white);
    font-size: 1.2em;
}

    .footer-class p a {
        color: var(--color-text-orange-primary);
        text-decoration: none;
    }

        .footer-class p a:hover {
            color: var(--color-text-white);
        }

.footer-class {
    padding: 1.5em 0;
    text-align: center;
    background: var(--color-base-black);
}

.amet-sed form {
    padding: 1em 0 0;
}

.amet-sed input[type="text"], .amet-sed input[type="submit"] {
    width: 69%;
    padding: 0.5em;
    outline: none;
    color: var(--color-text-black);
    font-size: 1em;
    background: var(--color-base-white);
    border: none;
}

.amet-sed input[type="submit"] {
    width: 20%;
    color: var(--color-text-white);
    font-size: 1em;
    background: var(--color-base-orange-primary);
    border: none;
    outline: none;
    padding: 0.5em;
}

    .amet-sed input[type="submit"]:hover {
        background: var(--color-base-white);
        color: var(--color-text-orange-primary);
    }

ul.social {
    padding: 1em 0 0;
}

    ul.social li {
        display: inline-block;
    }

        ul.social li i {
            background: url(../images/img-sprite.png) no-repeat -9px -14px;
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px 0 0;
        }

            ul.social li i.twitter {
                background-position: -43px -14px;
            }

            ul.social li i.rss {
                background-position: -77px -14px;
            }

            ul.social li i.gmail {
                background-position: -110px -14px;
            }

            ul.social li i:hover {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transition: 0.5s all ease;
                -webkit-transition: 0.5s all ease;
                -moz-transition: 0.5s all ease;
                -o-transition: 0.5s all ease;
            }

.button {
    margin-top: 20px;
}

    .button a {
        color: #fff;
        font-size: 1em;
        text-transform: uppercase;
        background: var(--color-base-orange-primary);
        padding: 0.4em 1em;
        text-decoration: none;
        text-decoration: none;
    }

        .button a:hover {
            color: #fff;
            background: #000
        }
/*--product--*/
.tags {
    padding: 1.5em 0 0;
}

    .tags ul li {
        display: inline-block;
        float: left;
        width: 22.8%;
        margin: 0.5em 2% 0 0;
        text-align: center;
    }

    .tags li a {
        font-size: 1em;
        display: block;
        padding: 0.3em 0.4em;
        text-decoration: none;
        color: var(--color-text-black);
        border: 1px solid var(--color-line-black);
        height: 50px;
    }

        .tags li a:hover {
            color: var(--color-text-white);
            background: var(--color-base-orange-primary);
            border: 1px solid var(--color-line-orange-primary);
        }

    .tags ul li:nth-child(4), .tags ul li:nth-child(8), .tags ul li:nth-child(12) {
        margin: 0.5em 0 0;
    }
/*----*/
h3.cate {
    color: var(--color-text-black);
    border-bottom: 1px solid var(--color-line-black);
    width: 69%;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
}

.of-left {
    border-bottom: 1px solid var(--color-line-black);
}

.product-go {
    margin-top: 2em;
}

.product {
    padding: 4em 0;
}

.bottom-product {
    margin-bottom: 2em;
}

.pagination {
    display: block;
    text-align: center;
}

    .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
        color: var(--color-text-white);
        background-color: var(--color-base-orange-primary);
        border-color: var(--color-line-orange-primary);
    }

    .pagination > li > a, .pagination > li > span {
        color: var(--color-text-black);
    }
/*----*/
ul.kid-menu {
    display: block !important;
}

.menu {
    width: auto;
    height: auto;
    padding: 0;
    list-style: none;
    margin: 1.5em 0;
}

    .menu > li > a {
        width: 100%;
        margin: 0.3em 0;
        display: inline-block;
        position: relative;
        color: var(--color-text-black);
        font-size: 1.1em;
        text-decoration: none;
    }

        .menu > li > a:hover {
            color: var(--color-text-orange-primary);
        }

    .menu ul li a {
        width: 100%;
        display: inline-block;
        position: relative;
        font-size: 1.1em;
        margin: 0.3em 0;
        color: #000;
        text-decoration: none;
        text-indent: 1.2em;
    }

        .menu ul li a:hover {
            color: var(--color-text-orange-primary);
        }

    ul.kid-menu li, .menu ul li {
        list-style: none;
    }

/*.sellers {
    padding: 2em 0;
}*/

h3.best {
    color: var(--color-text-black);
    border-bottom: 1px solid var(--color-line-black);
    width: 81%;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
}

.pagination > .active > a, .pagination > .active > a:hover {
    background: var(--color-base-orange-primary);
    border-color: var(--color-line-orange-primary);
}
/*----*/
.product-middle {
    background: url(../images/product1.jpg) center;
    width: 100%;
    min-height: 45px;
    display: block;
    background-size: cover;
}

.fit-top {
    width: 100%;
    padding: 1em 1em;
}

h6.shop-top {
    font-size: 1.1em;
    font-weight: 300;
    float: left;
    color: var(--color-text-white);
    margin-top: 0.3em;
}

a.shop-now {
    font-size: 0.9em;
    float: right;
    text-decoration: none;
    border: 1px solid var(--color-line-white);
    padding: 0.2em 0.4em;
    color: var(--color-text-white);
}

    a.shop-now:hover {
        border: 1px solid var(--color-line-orange-primary);
        background: var(--color-base-orange-primary);
    }
/*
h3.tag {
    color: #000;
    border-bottom: 1px solid #000;
    width: 32%;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
}
    */
.of-left-in {
    border-bottom: 1px solid var(--color-line-black);
}

/*Product detail*/
.single-para h4 {
    color: var(--color-text-black);
    font-size: 2em;
    font-family: 'Lato', serif;
}

.single-para p {
    font-size: 1em;
    color: #2c3e50;
    font-family: 'Lato', serif;
    line-height: 1.8em;
    margin: 1em 0;
}

.single-para h5 {
    color: var(--color-text-orange-primary);
    font-size: 2em;
    border-bottom: 1px solid #C4C3C3;
    padding: 0.3em 0;
}

.single-top > img {
    height: 200px;
}

    .single-top > img:hover {
        transform: scale(1.5);
    }



.text-danger {
    display: block;
    text-align: center;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-back-drop);
    background: var(--color-base-gray);
    opacity: 0.7;
    display: none;
    width: 100%;
    height: 100%;
}

.backdrop--open {
    display: block;
}
/*--responsive--*/
@media(max-width:1024px) {
    .banner-text {
        width: 70%;
        margin: 0 0 0 3em;
    }

    .banner {
        min-height: 492px;
    }

    .b-animate span {
        padding-top: 4em;
    }

    .b-from-left {
        min-height: 288px;
    }

    .top-in span {
        padding: 5em 0 0;
    }

    .b-from-top {
        min-height: 350px;
    }

    .top-in1 span {
        padding: 2.3em 0 0;
    }

    .top-in1 {
        min-height: 166px;
    }

    .top-in2 span {
        padding: 2em 0 0;
    }

    .top-in2 {
        min-height: 157px;
    }

    /*--banner--*/
    h6.shop-top {
        font-size: 1em;
    }

    .tags li a {
        font-size: 0.8em;
    }

    h3.best, h3.tag, h3.cate {
        font-size: 1.7em;
    }

    h6.best2 {
        font-size: 1em;
        font-family: 'Lato', serif;
        line-height: 1.3em;
    }

}

@media(max-width:768px) {
    .main_menu {
        width: 50%;
    }

    .banner-text {
        width: 90%;
        margin: 0 0 0 3em;
    }

        .banner-text h3 {
            font-size: 2.5em;
        }

    .grid-top {
        float: left;
        width: 33.3%;
    }

    .grid-mid {
        float: left;
        width: 50%;
    }

    .twit {
        top: 45%;
    }

    .amet-sed {
        margin-bottom: 2em;
    }

    .footer-top-at {
        padding: 3em 0px 2em;
    }

    .men img, .col-md1 img, .men1 img, .men2 img {
        width: 100%
    }

    .men1, .men2 {
        float: left;
        width: 50%;
    }

    .b-from-left {
        min-height: 213px;
    }

    .b-from-top {
        min-height: 553px;
    }

    .b-animate span {
        padding-top: 3em;
    }

    .top-in span {
        padding: 8em 0 0;
    }

    .top-in1 {
        min-height: 261px;
    }

        .top-in1 span {
            padding: 3.3em 0 0;
        }

    .top-in2 {
        min-height: 254px;
    }

        .top-in2 span {
            padding: 3.5em 0 0;
        }
    /*--contact--*/
    .contact-in {
        margin: 1em 0 0;
    }

    /*--blog--*/
    .grid_3 {
        float: left;
        width: 50%;
    }

    .grid-1 {
        float: none;
        width: 100%;
    }
    /*--product--*/
    .bottom-cd {
        float: left;
        width: 33.3%;
    }

    .product-price {
        width: 50%;
    }

    /*--single--*/
    .single-top-in {
        width: 100%;
        margin-left: 0%;
        float: left;
    }

    .single-top {
        width: 100%;
    }

    .single-para h4 {
        font-size: 2em;
    }

    .available ul li select {
        margin-left: 14.5%;
    }

    .available ul li.size-in select {
        margin-left: 16.5%;
    }

    .left-account {
        margin-top: 2em;
    }

    a.cpns {
        padding: 7px;
        font-size: 0.7em;
    }

    .men {
        margin-bottom: 2em;
    }
}

@media(max-width:640px) {
    .banner-text {
        padding: 7em 0 1em;
    }

    .grid-top p {
        font-size: 0.9em;
    }

    .pro-grid {
        padding: 5.5em 0 0;
    }

    .blog {
        padding: 2em 0;
    }

    .contact {
        padding: 2em 0;
    }

    .account {
        padding: 2em 0;
    }

    .register {
        padding: 2em 0;
    }

    .b-animate span {
        padding-top: 2.5em;
    }

    .banner {
        min-height: 400px;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        left: 42%;
    }

    .b-from-left {
        min-height: 170px;
    }

    .top-in span {
        padding: 6.5em 0 0;
    }

    .b-from-top {
        min-height: 448px;
    }

    .top-in1 {
        min-height: 214px;
    }

        .top-in1 span {
            padding: 3em 0 0;
        }

    .top-in2 span {
        padding: 3em 0 0;
    }

    .top-in2 {
        min-height: 204px;
    }
}

@media(max-width:480px) {
    .search {
        display: none;
    }

    .header-left {
        float: none;
        margin-top: 0px;
        text-align: center;
    }

    .banner-text h3 {
        font-size: 1.5em;
    }

    .banner-text p {
        font-size: 1em;
    }

    .banner {
        min-height: 294px;
    }

    .banner-text {
        padding: 3em 0 1em;
    }

    .grid-top {
        width: 100%;
        margin-bottom: 1em;
    }

        .grid-top p {
            font-size: 1.2em;
        }

    .content-top {
        padding: 2em 0;
    }

    .grid-in {
        padding: 0em 0 0;
    }

    .content-bottom ul li {
        border: none;
        width: 33%;
    }

    .product-price {
        width: 63%;
    }

    .banner-text {
        margin: 0 0 0 2em;
    }

    .pro-grid span {
        font-size: 0.9em;
    }

    .pro-grid {
        padding: 3.5em 0 0;
    }

    a.item_add p.number {
        font-size: 0.9em;
    }

    .b-from-left {
        min-height: 440px;
    }

    .b-animate span {
        padding-top: 6em;
    }

    .top-in span {
        padding: 4.5em 0 0;
    }

    .b-from-top {
        min-height: 321px;
    }

    .top-in1 span {
        padding: 2em 0 0;
    }

    .top-in1 {
        min-height: 154px;
    }

    .top-in2 span {
        padding: 1.5em 0 0;
    }

    .top-in2 {
        min-height: 144px;
    }
    /*--single--*/
    .cd-tabs-navigation a {
        font-size: 0.9em;
    }

    .top-comment-right {
        width: 81%;
    }

    .grid_3 {
        float: left;
        width: 100%;
    }

    .blog h1 {
        font-size: 2em;
        margin: 0 0 0.5em;
    }

    .single-bottom h3 {
        font-size: 2em;
    }

    .single-bottom input[type="submit"] {
        width: 18%;
    }

    .contact h1 {
        font-size: 2em;
    }

    .contact-form {
        padding: 1em 0;
    }

    .account h1, .register h1 {
        font-size: 2em;
        margin-bottom: 0.3em;
    }

    .register-top-grid h3, .register-bottom-grid h3 {
        font-size: 1.2em;
    }
}

@media(max-width:320px) {
    .logo {
        width: 45%;
    }

        .logo img {
            width: 100%;
        }
}

@media(max-width:320px) {
    .header-left ul li a {
        margin: 0 1em 0 0;
        font-size: 1em;
    }

    .box_1 h3 {
        font-size: 1em;
    }

    .header-top {
        padding: 10px 0;
    }

    .logo {
        width: 41%;
    }



        .logo img {
            width: 100%;
        }

    .head-top {
        padding: 0.6em 0;
    }

    .banner-text h3 {
        font-size: 0.9em;
        line-height: 1.5em;
        letter-spacing: 3px;
        margin-bottom: 0.2em;
    }

    .banner-text p {
        font-size: 0.8em;
    }

    .banner-text a {
        font-size: 0.9em;
        padding: 0.3em 0.5em;
    }

    .banner {
        min-height: 158px;
    }

    .content-top h1 {
        font-size: 1.3em;
        margin-bottom: 0.8em;
    }

    .grid-mid {
        padding: 5px;
    }

    .twit h4 {
        font-size: 1em;
    }

    .amet-sed {
        margin-bottom: 1em;
        padding: 0;
    }

        .amet-sed h4 {
            font-size: 1.2em;
            margin: 0 0 0.3em;
        }

    ul.nav-bottom li a {
        font-size: 0.9em;
    }

    .amet-sed input[type="submit"] {
        width: 24%;
    }

    .content-bottom {
        padding: 1em 0;
    }

    .grid-middle {
        padding: 0.1em 0 0;
    }

    .content-top {
        padding: 1em 0 0;
    }

    .grid-top p {
        font-size: 1.1em;
    }

    .banner-text {
        padding: 1.5em 0 1em;
        margin: 0 0 0 1em;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        left: 36%;
    }

    .banner {
        min-height: 203px;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        bottom: 8%;
    }

    .box_1 p a {
        font-size: 0.9em;
    }

    .header-left ul {
        margin-top: 13px;
    }

    .content-top-bottom h2 {
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .men {
        margin-bottom: 1em;
    }

    .col-md2 {
        padding: 15px 0 0;
    }

    .product {
        padding: 2em 0;
    }

    .product-price {
        width: 100%;
        padding: 0;
    }

    .bottom-cd {
        padding: 0 3px;
    }

    p.tun {
        font-size: 0.8em;
    }

    a.item_add p.number {
        font-size: 0.8em;
        padding: 0.5em 0.5em;
    }

    .pro-grid span {
        font-size: 0.8em;
        padding: 0.4em 0.8em;
    }

    .pro-grid {
        padding: 2.5em 0 0;
    }

    .bottom-product {
        margin-bottom: 1em;
    }

    .pagination {
        margin: 10px 0 0;
    }

    .footer-top-at {
        padding: 2em 0px 2em;
    }

    .grid_3 {
        padding: 0;
    }

    .blog-poast-info ul li a, .blog-poast-info ul li span {
        font-size: 0.8em;
    }

    .grid_3 {
        margin-bottom: 1em;
    }

    .single-bottom h3 {
        font-size: 1.5em;
    }

    .single-bottom input[type="text"], .single-bottom textarea {
        padding: 0.6em;
    }

    .single-bottom textarea {
        min-height: 100px;
    }

    .single-bottom input[type="submit"] {
        width: 25%;
    }

    .single-bottom {
        padding: 0em 0 0em;
    }

    .contact-grid, .contact-in {
        padding: 0;
    }

        .contact-grid input[type="text"], .contact-grid textarea {
            padding: 0.8em;
        }

    .send input[type="submit"] {
        width: 24%;
    }

    .account-top input[type="text"], .account-top textarea, .account-top input[type="password"], .register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
        padding: 0.5em;
    }

    .account-top input[type="submit"] {
        width: 33%;
    }

    .register-top-grid h3, .register-bottom-grid h3 {
        font-size: 1.1em;
    }

    .single-top, .single-top-in {
        padding: 0;
    }

    .single-para h4 {
        font-size: 1.5em;
    }

    .available ul li select {
        margin-left: 6.5%;
    }

    .available ul li.size-in select {
        margin-left: 10.5%;
    }

    .cd-tabs.is-ended {
        margin: 1em 0 1em;
        padding: 0 0em;
    }

    .footer-class p {
        font-size: 1em;
    }

    .button a {
        font-size: 0.9em;
    }

    .cart-items, .cart-total {
        padding: 0;
    }

    .account-top input[type="submit"], .register-bottom-grid input[type="submit"] {
        font-size: 1em;
    }

    .account-top, .left-account, .register-top-grid, .register-bottom-grid {
        padding: 0;
    }

    .b-animate span {
        padding-top: 4.2em;
        font-size: 1.6em;
    }

    .b-from-left {
        min-height: 247px;
    }

    .top-in span {
        padding: 2.5em 0 0;
    }

    .b-from-top {
        min-height: 194px;
    }

    .top-in1 span {
        padding: 1.8em 0 0;
    }

    .top-in1 {
        min-height: 92px;
    }

    .top-in2 span {
        padding: 1.15em 0 0;
    }

    .top-in2 {
        min-height: 81px;
    }
}
