.user-reset {
    padding: 20px 60px 30px;
    position: fixed;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 600px !important;
    margin: 10% 34% !important;
    z-index: var(--z-index-dialog);
    background: var(--color-base-white);
}

.user-reset__header{
    text-align: center;
    position: relative;

}

.user-reset__body{
    margin: 20px 0;
}

.user-reset__message{
    margin: 20px 0;
    text-align: center;
}

.user-reset__close-button {
    cursor: pointer;
    padding: 6px;
    color: black;
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    top: 20px;
    right: 25px;
    position: absolute;
    font-style: normal;
}

.user-reset__footer{
    text-align: center;
}

.user-reset__button-send {
    background: var(--color-base-primary-blue) none repeat scroll 0 0;
    border-color: var(--color-line-primary-blue);
    color: var(--color-text-white);
    font-size: 22px;
    width: 70%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.user-reset_notification{
    display: none;
    text-align: center;
}

.user-reset_notification--success {
    color: var(--color-text-green);
    font-size: 14px;
}

.user-reset_notification--fail {
    color: var(--color-text-red);
    font-size: 14px;
}

.user-reset_notification--opened{
    display: block;
}

.user-reset__validation {
    margin-top: 15px !important;
}