<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="https://onlineshop.blob.core.windows.net/logo/favicon.jpg")" />
    <style>
        .container {
            margin: 0 auto;
            text-align: center;
        }

        .title {
            font-size: 25px;
            font-weight: 700;
        }

        .content {
            font-size: 20px;
        }

        .image {
            width: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <figure >
            <img  src="https://onlineshop.blob.core.windows.net/image/denied.jpg" class="image"/>
        </figure>
        <p class="title">Email address has been confirmed.</p>
        <p class="content">Email addess can only be confirmed one time.</p>
    </div>
</body>
</html>