<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="https://onlineshop.blob.core.windows.net/logo/favicon.jpg")" />
    <style>
        .container {
            margin: 0 auto;
            text-align: center;
        }

        .title {
            font-size: 25px;
            font-weight: 700;
        }

        .content {
            font-size: 20px;
        }

        .image {
            width: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <figure >
            <img  src="https://onlineshop.blob.core.windows.net/image/checkmark.jpg" class="image"/>
        </figure>
        <p class="title">Email address confirmed</p>
        <p class="content">You have successfully updated your account. Please use this email address to log in our online shop website.</p>
    </div>
</body>
</html>