<link type="text/css" rel="stylesheet" href="~/css/cart.css" />
<link href="~/css/constant.css" rel="stylesheet" type="text/css" media="all" />

@{
    Layout = "~/Views/Shared/_NonAsideMenuLayout.cshtml";
}

<section class="container cart-container">
    <div class="wrapper-dialog">
        <div class="wrapper-content">
            <div class="top-level-header">
                <div class="title-order">Order</div>
            </div>
            <div class="item-list">
                <ul>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pay-information">
                <div class="sub-total pay-item">
                    <div class="title">Subtotal</div>
                    <div class="amount">$90.00</div>
                </div>
                <div class="shipping pay-item">
                    <div class="title">Shipping</div>
                    <div class="amount">$90.00</div>
                </div>
                <div class="total pay-item">
                    <div class="title">Total</div>
                    <div class="amount">$90.00</div>
                </div>
            </div>
            <div id="group-button-payment" >
                <div id="paypal-button-container"></div>
                <div id="cod-button-container">CASH ON DELIVERY</div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/cart.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
