<link type="text/css" rel="stylesheet" href="~/css/cart.css"/>

<section class="container cart-container">
    <div class="wrapper-dialog">
        <div class="wrapper-content">
            <div class="top-level-header">
                <div class="title-order">Order</div>
            </div>
            <div class="item-list">
                <ul>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <div class="photo">
                                <img src="./images/270_crop_CLASSIC-FREEZE.png" alt="" />
                            </div>
                            <div class="item-content">
                                <div class="item-name">Item 1</div>
                                <div class="item-describe">Delivery 24h July</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="quantity-order">
                                <div class="form-group">
                                    <button>-</button>
                                    <input type="number" />
                                    <button>+</button>
                                </div>
                            </div>
                            <div class="price">$20.00</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pay-information">
                <div class="sub-total pay-item">
                    <div class="title">Subtotal</div>
                    <div class="amount">$90.00</div>
                </div>
                <div class="shipping pay-item">
                    <div class="title">Shipping</div>
                    <div class="amount">$90.00</div>
                </div>
                <div class="total pay-item">
                    <div class="title">Total</div>
                    <div class="amount">$90.00</div>
                </div>
            </div>
            <div id="paypal-button-container"></div>

            <!-- Include the PayPal JavaScript SDK -->
            <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

            <script>// Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '88.44'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');</script>

        </div>
    </div>
</section>
