@model ShopWebApp.Models.ViewModels.UserChangePassword

@{
    Layout = "_EmptyLayout";
}

<link href="~/css/user_change.css" rel="stylesheet" type="text/css">

<div class="user-change-password container">
    <em class="user-change-password__close-button">X</em>
    <header class="user-change-password__header">
        <h1 class="user-change-password__title">Change password</h1>
    </header>
    <main class="user-change-password__body">
        <span class="user-change-password_notification"></span>
        <div class="form-group">
            <input class="user-change-password__current-password form-control" placeholder="Current password" asp-for="CurrentPassword" />
            <span asp-validation-for="CurrentPassword" class="text-danger user-change-password__validation"></span>
        </div>
        <div class="form-group">
            <input class="user-change-password__new-password form-control" placeholder="New password" asp-for="NewPassword" />
            <span asp-validation-for="NewPassword" class="text-danger user-change-password__validation user-change-password__validation--new-password"></span>
        </div>
        <div class="form-group">
            <input class="user-change-password__password-confirmation form-control" placeholder="Confirm password" asp-for="PasswordComfirmation" />
            <span asp-validation-for="PasswordComfirmation" class="text-danger user-change-password__validation"></span>
        </div>
    </main>
    <footer class="user-change-password__footer">
        <button class="user-change-password__button-submit">Submit</button>
    </footer>
</div>

<script src="~/js/user_change.js" type="text/javascript"></script>
