@model ShopWebApp.Models.ViewModels.UserUpdateProfile

@{
    Layout = "_EmptyLayout";
}
<link href='~/css/user.css' rel='stylesheet' type='text/css'>

<div class="card-layout">
    <em class="card-layout__button-close">X</em>
    <header class="card-layout__header ">
        <h1 class="card-layout__title">Update your profile</h1>
    </header>
    <main class="card-layout__body">
        <div class="card-layout__notification--success" style="display:none;">
            <figure>
                <img class="card-layout__notification--success-image" src="https://onlineshop.blob.core.windows.net/image/checkmark.jpg" />
            </figure>
            <p class="card-layout__notification--success-title">
                Your account has been successfully registered. Please check your email to activate your account.
            </p>
        </div>

        <div class="form-group">
            <input type="email" class="card-layout__input-text update-profile__email-address form-control" placeholder="Email Address" asp-for="EmailAddress">
            <span asp-validation-for="EmailAddress" class="text-danger card-layout__validation"></span>
        </div>

        <div class="form-group">
            <input type="text" class="card-layout__input-text update-profile__user-name form-control" placeholder="User name" asp-for="UserName">
            <span asp-validation-for="UserName" class="text-danger card-layout__validation"></span>
        </div>

        <div class="form-group">
            <div class="card-layout__phone">
                <p class="card-layout__phone-prefix">+84</p>
                <input type="text" maxlength="15" class="card-layout__input-text card-layout__phone-number update-profile__phone-number form-control" onkeypress="return onlyNumberKey(event)" placeholder="Phone number" asp-for="PhoneNumber" pattern="^[1-9][0-9]+">
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger card-layout__validation"></span>
        </div>

        <div class="form-group">
            <input type="text" class="card-layout__input-text update-profile__address form-control" placeholder="Address" asp-for="Address">
            <span asp-validation-for="Address" class="text-danger card-layout__validation"></span>
        </div>

        <input type="text" class="card-layout__input-text-hidden update-profile__id" asp-for="Id"/>
        <p class="text-danger sign-in__register-fail"></p>
    </main>
    <footer class="card-layout__footer">
        <button type="button" class="card-layout__button-submit" id="update-profile__button-submit">Update</button>
    </footer>
</div>

<!--Script-->
<script src="~/js/user.js"></script>