@using ShopWebApp.Constants

<title>PTIT-HCM Store</title>
<meta name="keywords" content="PTIT-HCM Store" />
<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<script src="~/js/jquery.min.js"></script>
<script src="~/js/common.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="@(Constant.URL_FAVICON)" />

@RenderBody()