<div class="container">
    <div class="footer-top-at">

        <div class="col-md-6 amet-sed">
            <h4>GET TO KNOW US</h4>
            <ul class="nav-bottom">
                <li><p>Address</p></li>
                <li><p>Seller</p></li>
                <li><p>Email</p></li>
                <li><p>Fax</p></li>
            </ul>
        </div>
        <div class="col-md-6 amet-sed ">
            <h4>CONTACT US</h4>
            <ul class="social">
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i class="twitter"> </i></a></li>
                <li><a href="#"><i class="rss"> </i></a></li>
                <li><a href="#"><i class="gmail"> </i></a></li>
            </ul>
        </div>

    </div>
</div>
<div class="footer-class">
    <p>© 2020 PTIT-HCM All Rights Reserved</p>
</div>