@using ShopWebApp.Constants

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="PTIT-HCM Store" />
    <!-- favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="@(Constant.URL_FAVICON)" />
    <!-- fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- css style libs-->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    @RenderSection("Styles", required: false)
    <!-- JS libs-->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <!--header-->
    <header class="header">
        @await Html.PartialAsync(Constant.HEADER_PARTIAL_VIEW_NAME)

        @{
            List<Supplier> suppliers = new List<Supplier>();
            if (ViewBag.Suppliers != null)
            {
                foreach (var item in ViewBag.Suppliers)
                {
                    suppliers.Add(item);
                }
            }

            List<Category> categories = new List<Category>();
            if (ViewBag.Category != null)
            {
                foreach (var item in ViewBag.Category)
                {
                    categories.Add(item);
                }
            }
        }
        <nav class="container nav-bar">
            @await Html.PartialAsync(Constant.NAVIGATION_MENU_VIEW_NAME, categories)
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="footer">
        @await Html.PartialAsync(Constant.FOOTER_PARTIAL_VIEW_NAME)
    </footer>
    <!-- The Sign In Modal -->
    <div id="login-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content container login-content">
            <div class="modal-body modal-login" id="modal-login">
                @await Html.PartialAsync(Constant.LOGIN_VIEW_NAME, new UserSignIn())
            </div>
        </div>
    </div>
    <!-- The Sign Up Modal -->
    <div id="register-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content container register-content">
            <div class="modal-body modal-register" id="modal-register">
                @await Html.PartialAsync(Constant.REGISTER_VIEW_NAME, new User())
            </div>
        </div>
    </div>
    <div class="backdrop" />
</body>
</html>
