@model IEnumerable<ShopWebApp.Models.DataModels.Supplier>

<link type="text/css" href="~/css/left_side_menu.css" rel="stylesheet">

<div class="of-left">
    <h3>Brands</h3>
</div>
<ul class="supplier-items">
    @foreach (var item in Model) {
        <li >
            <a class="@(ViewBag.supplierCurrenId ==  item.Id ? "supplier-item supplier-item--selected" : "supplier-item")"  asp-controller="Product" asp-action="GetDetail" asp-route-supplierId="@item.Id" asp-route-categoryId=@ViewBag.categoryCurrentId>@item.Name</a>
        </li>
    }
</ul>
