@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div class="error-page">
    <p class="error-page__code">
        <strong>Error ID:</strong> <code>@Model.ErrorId</code>
    </p>
    <h5 class="error-page__message">
        @Model.ErrorMessage
    </h5>
</div>
